<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JANコード検索</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>JANコード検索</h1>
    <form method="post" action="/" enctype="multipart/form-data">
      <label for="jan_code">JANコード:</label>
      <input type="text" id="jan_code" name="jan_code" required />
      <button type="submit">検索</button>
    </form>
    {% if screenshots %}
    <h2>検索結果</h2>
    <div class="screenshots">
      {% for screenshot in screenshots %} {% if screenshot.screenshot_path %}
      <div class="screenshot">
        <h3>{{ screenshot.site_name }}</h3>
        <img
          src="{{ url_for('static', filename=screenshot.screenshot_path.split('static/')[1]) }}"
          alt="{{ screenshot.site_name }}"
        />
      </div>
      {% else %}
      <p>
        {{ screenshot.site_name }}のスクリーンショットを取得できませんでした。
      </p>
      {% endif %} {% endfor %}
    </div>
    {% endif %}
  </body>
</html>
